* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
}
/* Start Header */
#header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  height: 46.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
}
#header > #nav {
  display: flex;
  list-style-type: none;
}
#header > #nav > li {
  position: relative;
}
#header > #nav > li > a {
  text-decoration: none;
  line-height: 46.5px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding: 0 24px;
}
#header .subnav > li:hover a,
#header > #nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}
#header > #nav > li:hover .subnav {
  display: block;
}
#header .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 100%;
  left: 0;
}
#header .subnav li {
  list-style-type: none;
}
#header .subnav a {
  text-decoration: none;
  line-height: 38.5px;
  display: block;
  padding: 0 16px;
  color: #000;
}
#header #header-icon-search {
  padding: 12px 24px;
}
#header #header-icon-search:hover {
  background-color: red;
}
/* End Header */
/* Start Slider */
#slider {
  margin-top: 46.5px;
  padding-top: 50%;
  background: url(https://www.w3schools.com/w3images/chicago.jpg) top center /
    cover no-repeat;
  position: relative;
}
#slider .slider-text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
}
#slider .slider-text-content > h2 {
  margin-bottom: 28px;
  font-weight: 500;
}
#slider .slider-text-content > p {
  font-weight: 700;
}
/* End Slider */

/* Start Content */
/* Start About */
#content .about {
  width: 768px;
  margin: 64px auto;
}
#content .heading-about-text {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 4px;
  text-align: center;
  margin: 25px 0;
}
#content .sub-heading-about-text {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 15px;
  opacity: 0.6;
}
#content .about-text {
  text-align: justify;
  line-height: 1.6;
}
#content .member-list {
  display: flex;
  margin-top: 47px;
  text-align: center;
  justify-content: space-evenly;
}
#content .member-list .member-name {
  margin: 15px 0;
}
#content .member-list .member-image {
  width: 154px;
  border-radius: 4px;
}
/* End About */

/* Start Tour */
#content .tour-content {
  margin-top: 108px;
  background-color: #000;
  color: #fff;
  border-bottom-width: 110px;
  //margin-bottom: 0px;
  padding-bottom: 50px;
}
#content .tour {
  padding: 64px 0;
  width: 768px;
  margin: 64px auto;
}
.book-ticket {
  background-color: #fff;
  color: #757575;
  margin-top: 40px;
  list-style: none;
}
.book-ticket .book-ticket-item {
  padding: 13px 16px;
  border: 1px solid #ddd;
}
.book-ticket .sold-out {
  margin-left: 16px;
  padding: 3px 8px;
  background-color: #f44336;
  color: #fff;
}
.book-ticket .sold-out-number {
  background-color: #000;
  float: right;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  margin-top: -3px;
  margin-right: 20px;
  color: #fff;
}

.place-list {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  margin-bottom: 50px;
}
.place-list .place-item-text {
  background-color: #fff;
  padding: 0 16px;
  color: #000;
}
.place-item-image:hover {
  opacity: 0.6;
}
.place-list .place-item-image {
  width: 100%;
  display: block;
}
.place-item-text > h4 {
  padding: 16px 0;
}
.place-item-text > .place-item-text-day {
  color: #757575;
  padding-bottom: 16px;
}
.place-item-text > .place-item-btn {
  //padding-top: 8px;
  text-decoration: none;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  margin: 16px 0;
  display: inline-block;
}
/* End Tour */
/* Start Contact */
#content .contact {
  width: 768px;
  margin: 0 auto;
  padding-top: 2px;
}
.contact-content svg {
  width: 16px;
  height: 16px;
  margin-right: 14px;
}
.contact-content {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
  font-size: 18px;
}
.contact-content > .contact-content-about div {
  margin-top: 5px;
}
.contact-content > .contact-content-about,
.contact-content > .contact-content-form {
  width: 100%;
}

.contact-content > .contact-content-form input {
  padding: 9px;
  border: 1px solid #ccc;
}
.contact-content-form button {
  float: right;
  margin: 16px 0;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  //border: 1px solid #000;
  border: none;
}
.contact-content-form button:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
/* End Contact */

#content #slider-map img {
  margin-top: 40px;
  width: 100%;
  filter: grayscale(50%);
}
/* Start Footer */
#footer {
  background-color: #f1f1f1;
  //margin: 64px 0;
  padding: 64px 16px;
  text-align: center;
  opacity: 0.6;
}
#footer > .social-media-icon > a {
  text-decoration: none;
}
#footer > .social-media-icon > a:hover {
  opacity: 0.4;
}
#footer svg {
  height: 22px;
  width: 22px;
}
#footer p {
  margin: 16px 0;
}
/* End Footer */

/* Extra Bookmark*/
#content > #about {
  margin-top: 0;
}
#content > #about > h2 {
  padding-top: 64px;
}
#content #tour {
  padding-bottom: 0;
}
#content > #contact > h2 {
  padding-top: 49px;
}
